@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth !important;
}

*{
  transition: all;
  transition-duration: .3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input::placeholder,
textarea::placeholder {
  color: #777e89 !important;
  opacity: 1; 
}

body {
  
  
  /* color: var(--foreground); */
  font-family: "Instrument Sans", sans-serif;
  transition: all;
  transition-duration: .3s;
}

label.required::after {
  content: " *";
  color: #ef4444; 
  font-weight: 600;
}

input[type=number] {
  -moz-appearance: textfield;
}


